<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Phòng Khoa</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="col-md-3">
        <div class="form-group">
            <button (click)="showAdd()" class="btn btn-primary" style="margin-top: 30px;">Thêm</button>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content app-content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                <!-- PAGE CONTENT BEGINS -->
                <div class="col-xs-12">

                    <h3>Danh sách Khoa</h3>
                    <p-table selectionMode="single" [value]="dsphongkhoas" #dt2 [columns]="cols" selectionMode="multiple" [loading]="loading" [(selection)]="selectedProducts" dataKey="maPk" styleClass="p-datatable-dsphongkhoa" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Hiển thị {first} tới {last} of {totalRecords} mục" [globalFilterFields]="['tenPhongKhoa','soLuongNhanSu','dienThoai','email']">
                        <ng-template pTemplate="caption" class="p-d-flex">
                            <div class="p-d-flex">
                                <span class="p-input-icon-left p-ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                            </span>
                            </div>
                            <div class="p-d-flex" style="float: right; margin-top: -50px">
                                <button type="button" title="Xuất chọn lọc" style="width: 50px; height: 50px;" pButton pRipple icon="pi pi-file-o" (click)="dt2.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                                <button type="button" title="Xuất tất cả" style="width: 50px; height: 50px;" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                                <button type="button" style="width: 50px; height: 50px;" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 60px; text-align: center;background: #343a40;color: white;">STT</th>
                                <th style="width: 30%; background: #343a40;color: white;">Tên Khoa</th>
                                <th style="width: 15%; text-align: center;background: #343a40;color: white;">Nhân Sự </th>
                                <th style="width: 25%; text-align: center;background: #343a40;color: white;">Hotline</th>
                                <th style="width: 25%; text-align: center;background: #343a40;color: white;">Email</th>
                                <th style="width: 150px; text-align: center;background: #343a40;color: white;">Tác vụ</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td style="width: 60px; text-align: center;">{{ i + 1 }}</td>
                                <td field="tenPhongKhoa">{{ item.tenPhongKhoa }}</td>
                                <td style="text-align: center;" field="soLuongNhanSu"> {{ item.soLuongNhanSu }} nhân sự </td>
                                <td style="text-align: center;" field="dienThoai">{{ item.dienThoai }}</td>
                                <td field="email">{{ item.email }}</td>
                                <td class="action-col">
                                    <div class="btn-group">
                                        <button title="" class="btn btn-xs btn-white btn-default" (click)="ChiTiet(item.maPk)">
                                      <i class="ace-icon fa fa-eye" style="color:rgb(40, 82, 218);"></i>
                                    </button>
                                        <button title="" class="btn btn-xs btn-white btn-default" (click)="showEdit(item.maPk)">
                                      <i class="ace-icon fa fa-edit" style="color:rgb(40, 82, 218);"></i>
                                    </button>
                                        <button title="" class="btn btn-xs btn-white btn-default" (click)="Delete(item.maPk)">
                                      <i class="ace-icon fa fa-trash" style="color:rgb(40, 82, 218);"></i>
                                    </button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- PAGE CONTENT ENDS -->
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 id="dialog-sizes-name1" class="modal-title pull-left" *ngIf="isCreate">Thêm thông tin chi tiết</h4>
                <h4 id="dialog-sizes-name1" class="modal-title pull-left" *ngIf="!isCreate">Sửa </h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form #formdata="ngForm" class="form-horizontal utehy-form" (ngSubmit)="save(formdata.value)" *ngIf="doneSetupForm">
                    <div class="modal-body no-padding">
                        <div class="form-group">
                            <div class="col-sm-6" style="float: left;">
                                <label class="col-sm-8 control-label no-padding-right"> Người Tạo</label>
                                <div class="col-sm-10">
                                    <input type="text" name="nguoiTao" placeholder="Người tạo " [(ngModel)]="doneSetupForm.nguoiTao" />
                                </div>
                            </div>
                            <div class="col-sm-6" style="float: left;">
                                <label class="col-sm-8 control-label no-padding-right"> Ngày lập(<span
                  style="color: red;">*</span>)</label>
                                <div class="col-sm-10">
                                    <input type="datetime-local" name="ngayTao" [(ngModel)]="doneSetupForm.ngayTao">
                                    <div *ngIf="submitted && f.ngayTao.errors" class="invalid-feedback">
                                        <div *ngIf="f.ngayTao.errors.required">Ngày lập</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6" style="float: left;">
                                <label class="col-sm-8 control-label no-padding-right"> Mã phòng khoa(<span
                              style="color: red;">*</span>)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="maPk" placeholder="Mã phòng khoa  " [(ngModel)]="doneSetupForm.maPk" />
                                </div>
                            </div>
                            <div class="col-sm-6 " style="float: left; ">
                                <label class="col-sm-8 control-label no-padding-right "> Email </label>
                                <div class="col-sm-10 ">
                                    <input type="email " name="email" placeholder=" " [(ngModel)]="doneSetupForm.email" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group ">
                            <div class="col-sm-6 " style="float: left; ">
                                <label class="col-sm-8 control-label no-padding-right "> Tên Phòng Khoa </label>
                                <div class="col-sm-10 ">
                                    <input type="text " name="tenPhongKhoa" placeholder="" [(ngModel)]="doneSetupForm.tenPhongKhoa" />
                                </div>
                            </div>
                            <div class="col-sm-6 " style="float: left; ">
                                <label class="col-sm-8 control-label no-padding-right "> Địa Chỉ</label>
                                <div class="col-sm-10 ">
                                    <input type="text " name="diaChi" placeholder="" [(ngModel)]="doneSetupForm.diaChi" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <!-- <div class="col-sm-6 " style="float: left; ">
                                <label class="col-sm-8 control-label no-padding-right "> Số lượng nhân sự  </label>
                                <div class="col-sm-10 ">
                                    <input type="number " name="soLuongNhanSu" placeholder="" [(ngModel)]="doneSetupForm.soLuongNhanSu" />
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-6 " style="float: left; ">
                                <label class="col-sm-8 control-label no-padding-right "> Phân Loại </label>
                                <div class="col-sm-10 ">
                                    <input type="number " name="phanLoai" placeholder=" " [(ngModel)]="doneSetupForm.phanLoai" />
                                </div>
                            </div> -->
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-6 " style="float: left; ">
                                <label class="col-sm-8 control-label no-padding-right "> Website </label>
                                <div class="col-sm-10 ">
                                    <input type="text " name="website" placeholder="" [(ngModel)]="doneSetupForm.website" />
                                </div>
                            </div>
                            <div class="col-sm-6 " style="float: left; ">
                                <label class="col-sm-8 control-label no-padding-right "> Ghi chú</label>
                                <div class="col-sm-10 ">
                                    <input type="text " name="ghiChu" placeholder="" [(ngModel)]="doneSetupForm.ghiChu" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-sm-6 " style="float: left; ">
                                <label class="col-sm-8 control-label no-padding-right "> Số điện thoại   </label>
                                <div class="col-sm-10 ">
                                    <input type="number " name="dienThoai" placeholder="" [(ngModel)]="doneSetupForm.dienThoai" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
                      <i class="fa fa-bell"></i> Làm mới
                    </button>
                        <!-- <input type="submit" class="btn btn-success btn-sm btn-submit" value="save"> -->
                        <button type="submit" class="btn btn-success btn-sm btn-submit">
                    <i class="fa fa-save"></i>Lưu Lại</button>
                        <button type="button" class="btn btn-default btn-sm" (click)="lgModal.hide()" aria-label="Close">
                      <i class="fa fa-times"></i> Đóng lại
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>