<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Tiêu Đề</h5>
            <p>Nội dung</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <app-footer></app-footer>
</div>
<!-- /.main-container -->
