<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Trang chủ</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Năm học</label>
                    <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                      <option selected="selected" data-select2-id="3">2020 - Đến nay</option>
                      <option data-select2-id="30">2015 - 2020</option>
                      <option data-select2-id="31">2010-2015</option>
                      <option data-select2-id="32">2005-2010</option>
                      <option data-select2-id="33">2000-2005</option>

                    </select>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <button class="btn btn-primary" style="margin-top: 30px;">Thống Kê</button>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="form-group">
                    <a routerLink="/">
                        <button class="btn btn-primary" style="margin-top: 30px;">Tra Cứu</button>
                    </a>

                </div>
            </div> -->

        </div>

        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{thongKe.soLuongGiangVien}}</h3>

                        <p>Số lượng giáo viên</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="http://localhost:4200/giaovien/giaovien" class="small-box-footer">Chi Tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{thongKe.soLuongKhoa}}<sup style="font-size: 20px"></sup></h3>

                        <p>Khoa</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="http://localhost:4200/khoa/phongkhoa" class="small-box-footer">Chi Tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{thongKe.soLuongBoMon}}</h3>

                        <p>Bộ Môn Trung Tâm</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="http://localhost:4200/khoa/bomon" class="small-box-footer" style="cursor: pointer;">Chi Tiết <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <!-- <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>Unique Visitors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">Chi Tiết <i class="fas fa-arrow-circle-right"></i></a>

                </div> -->
            </div>
            <!-- ./col -->
        </div>
        <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;">

        </div>

        <!-- <noscript>

          <a href="/" routerLink="/" target="_blank">
            <img  src="../../../assets/img/ImgTeacher/tuanloc.jpg" alt="free website hit counter">
          </a>
        </noscript> -->
        <!-- <audio controls muted autoplay loop style="opacity: 0.1;">
          <source src="../../../assets/img/hpny.mp3" type="audio/mpeg">
        </audio> -->
        <!-- /.row -->
        <!-- Main row -->

        <!-- /.row (main row) -->
    </div>
    <!-- /.container-fluid -->
</section>
